/* .navbar, */
.navbar * {
    /* border: 2px solid red; */
}

.navbar {
    z-index: 10000000;
    background-color: #feffbfa9;
    backdrop-filter: blur(10px);
    position: fixed;
    width: 100%;
    height: 64px;
}

.navbar-logo,
.navbar-logo a {
    height: 100%;
}

.logo {
    height: 100%;
}

.navbar-links-container {
    margin: 0 0 0 auto;
    height: 100%;
    /* border: 2px solid red; */
}

.navbar-links {
    margin: 0 3px;
    /* height: 90%; */
    padding: 10px;
    font-size: 15px;
    border-radius: 8px;
    transition: 0.3s;
    font-weight: 500;
    border: 2px solid transparent;
}

.navbar-links:hover,
.navbar-links.active {
    /* font-weight: 500; */
    /* border: 2px solid red; */
    /* color: red; */
}

.navbar-links:hover {
    border: 2px solid var(--medium-purple);
    background-color: none;
    /* color: black; */
}

.navbar-links.active {
    color: var(--pale-yellow);
    background-color: var(--medium-purple);
    /* background-color: var(--dark-purple); */

}