.slider-main-body {
  width: 100%;
  min-height: 100%;
  background-image: url("../../assets/form.svg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  padding: 64px 0 0 0;
}

.slider-main-body .heading {
  text-align: center;
  padding: 10px;
  font-size: 30px;
  font-weight: 700;
  color: var(--dark-purple);
}

.slider-main-body .subheading {
  text-align: center;
  padding: 10px;
  font-size: 24px;
  font-weight: 400;
  color: var(--dark-purple);
}

.template-container {
  /* border: 2px solid black; */
  padding: 10px 50px;
  grid-gap: 10px;
}

.template {
  border-radius: 10px;
  box-shadow: 0 0 10px 0.01px rgba(50, 50, 50, 0.3);
  grid-column: span 3;
  background-size: cover;
  background-repeat: no-repeat;
  cursor: pointer;
  /* background-position: 0 1px; */
  aspect-ratio: 1/1.2;
  border: 3px solid transparent;
}

.template:hover {
  border: 3px solid var(--dark-purple);
}

.template img {
  width: 100%;
}